@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin div-description {
}
@mixin text-format($weight) {
	color: #000;
	text-align: center;
	font-size: 2.625rem;
	font-style: normal;
	font-weight: $weight;
	line-height: normal;
}
@mixin questionImg {
	margin-top: 0.2rem;
	border-radius: 1rem;
	height: auto;
	max-width: 5rem;
	box-shadow: 4px 4px 15px 0px rgba(255, 0, 0, 0.9), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	overflow: visible;
}
* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
}

html {
	background-image: url(/StarWarsQuizByme/imgUi/QuizBackground.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.hidden {
	display: none !important;
}
.swquiz-app {
	display: flex;
	overflow: visible;
}
.left {
	@include flex-center;
	flex-direction: column;
	min-width: 33%;
	overflow: visible;
	.logo {
		display: flex;
		align-items: flex-start;
		transform: scale(0.9);
		margin-top: -0.8rem;
		margin-bottom: -1.5rem;
	}

	.starWarsImg {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 25.68rem;
		height: 34rem;
		flex-direction: column;
		background-color: white;
		box-shadow: 4px 4px 40px 0px rgba(255, 0, 0, 0.9), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		border-radius: 1rem;
		img {
			width: 100%;
			height: 100%;
			background-size: contain;
			background-position: center;
		}
	}

	.settingBtn {
		margin: 2rem 0;
		a {
			margin: auto 0;
			button {
				border-radius: 1rem;
				background: #fff;
				box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
				min-width: 25.68rem;
				height: 5rem;
				margin: auto;
				cursor: pointer;
				span {
					@include text-format(600);
				}
			}
		}
	}
}

.right {
	display: block;
	min-width: 63%;
	margin: 2.7rem 4rem 0 0;
	overflow: visible;
}
.menu {
	height: 15%;
	width: 100%;
	box-shadow: 4px 4px 40px 0px rgba(255, 0, 0, 0.9), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
	.buttonsOptions {
		display: flex;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		height: 100%;
		border-radius: 1rem;
		background: #fff;
		cursor: pointer;
		margin: auto 0;
		div {
			width: 100%;
			height: 100%;
			button {
				background: none;
				border: none;
				width: 100%;
				height: 100%;
				@include flex-center;
				@include text-format(600);
				cursor: pointer;
			}
			button:not(.peopleOptionB) {
				color: grey;
			}
		}
	}
}
.descriptionModes {
	height: 50vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
	margin: 6.5rem auto 3rem auto;
	overflow: visible;
	.descriptionHeader {
		min-height: 25%;
		min-width: 100%;
		background-color: #fff;
		box-shadow: 4px 4px 40px 0px rgba(255, 0, 0, 0.9), 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
			4px 5px 4px 0px rgba(0, 0, 0, 0.5) inset;
		@include flex-center;
		@include text-format(500);
		border-radius: 1rem;
		padding: 2rem;
	}
	.description {
		height: 75%;
		width: 100%;
		background-color: #fff;
		border-radius: 1rem;
		padding: 0.5rem 2rem 3rem 2rem;
		.descriptionModeRules {
			width: 100%;
			height: 100%;
			p {
				@include flex-center;
				gap: 1rem;
				@include text-format(500);
				margin-bottom: 1rem;
			}
			span {
				@include text-format(500);
				font-size: 2rem;
			}
		}
		.descriptionHallOfFame {
			width: 100%;
			min-height: 100%;
			.titleRanking {
				min-height: 20%;
				@include text-format(500);
				padding-bottom: 0.5rem;
				@include flex-center;
				column-gap: 1.5rem;
				svg {
					align-self: center;
				}
			}
			table {
				min-width: 100%;
				min-height: 80%;
				thead {
					@include text-format(600);
					th {
						text-align: left;
					}
				}
				tbody {
					@include text-format(500);
					td {
						text-align: left;
					}
				}
			}
		}
	}
}
.buttons {
	height: 15%;
	width: 100%;
	@include flex-center;
	gap: 2rem;
	margin-bottom: 4rem;
	overflow: visible;
	.FameRanking {
		height: 70%;
		width: 50%;
		@include text-format(500);
		background: white;
		border-radius: 1rem;
		@include flex-center;
		justify-content: left;
		gap: 7vw;
		cursor: pointer;
		svg {
			justify-self: flex-start;
			margin-left: 3rem;
		}
	}
	.playButton {
		@include flex-center;
		height: 70%;
		width: 50%;
		@include text-format(500);
		background: rgba(255, 0, 0, 0.95);
		color: #fff;
		border-radius: 1rem;
		box-shadow: 4px 4px 20px 0px rgba(255, 0, 0, 0.9), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		cursor: pointer;
	}
}

.peopleOption {
	border-radius: 1rem 0 0 1rem;
}
.starshipsOption {
	border-radius: 0 1rem 1rem 0;
}
.peopleOption,
.starshipsOption,
.vehiclesOption {
	@include flex-center;
	flex-wrap: wrap;
}
.borderBottomBoxShadow {
	overflow: visible;
}
.activeIndicator {
	overflow: visible;
	height: 0.625rem;
	background: rgba(255, 0, 0, 0.7);
	box-shadow: 4px 4px 40px 0px rgba(255, 0, 0, 0.9), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 0.25rem;
}

.font {
	color: grey;
}

.answers {
	display: none;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin-top: 0.5rem;
	overflow: visible;
	div {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		gap: 4rem;
		overflow: visible;

		button {
			height: 6.25rem;
			overflow: visible;

			width: 100%;
			@include text-format(500);
			background: white;
			gap: 1rem;
			cursor: pointer;
			margin-top: 3rem;
			border: none;
			border-radius: 1rem;
			background: #fff;
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		}
	}
}

.saber {
	display: none;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	height: 5.5rem;
	margin: 2rem 4.2rem;
	overflow: visible;

	.lightSaber {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
		flex-direction: row;
		width: 100%;
		overflow: visible;
		.light {
			width: 100%;
			height: 1.625rem;
			border-radius: 0.5rem;
			background-color: grey;
			margin-left: -1.125rem;
			overflow: visible;
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
			div {
				width: 100%;
				height: 100%;
				border-radius: 0.5rem;
				background: #fff;
				overflow: visible;

				box-shadow: 10px 5px 15px 0px #f00, 0px 5px 4px 0px rgba(255, 0, 0, 0.25) inset,
					10px -5px 15px 0px #f00;
			}
		}
	}

	p {
		text-align: center;
		@include text-format(800);
		color: rgba(255, 0, 0, 0.8);
		overflow: visible;
		span {
			text-shadow: 4px 4px 40px rgba(255, 0, 0, 0.9), 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}
}

.GameOverScreen {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	border-radius: 1rem;
	box-shadow: 4px 4px 40px 0px rgba(255, 0, 0, 0.9), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	z-index: 1;
}
.gameOverContent {
	@include flex-center;
	flex-direction: column;
	width: 70vw;
	height: 80vh;
	gap: 1rem;
	.title {
		min-height: 10%;
		max-width: 100%;
		@include text-format(600);
		padding-top: 1rem;
	}
	.summary {
		min-height: 10%;
		max-width: 100%;
		text-align: left;
		font-size: 1.75rem;
		font-weight: 500;
		padding: 0rem 1rem;
	}
	.nicknameForm {
		@include flex-center;
		gap: 2rem;
		max-width: 100%;
		min-height: 10%;
		margin: -1.7rem 2rem 0rem 2rem;
		input {
			border-radius: 0.5rem;
			border: 4px solid #c4c4c4;
			background: #fff;
			height: 3.5rem;
			font-size: 2.25rem;
			min-width: 40%;
		}
		p {
			margin: 0;
			min-width: 40%;
			font-size: 1.75rem;
			text-align: left;
			font-weight: 500;
			text-align: left;
		}
	}
	.forceButton {
		border-radius: 1rem;
		min-height: 8%;
		margin: 2rem auto;
		@include flex-center;
		box-shadow: 4px 4px 40px 0px rgba(255, 0, 0, 0.9), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		button {
			height: 100%;
			font-size: 2.25rem;
			font-weight: 500;
			color: #fff;
			background: rgba(255, 0, 0, 0.8);
			border-radius: 1rem;
			border: none;
			padding: 0.5rem 1rem;

			cursor: pointer;
		}
	}
}
.nicknameForm > input:focus {
	outline: none;
}

.answersSummary {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
	min-height: 45%;
	min-width: 100%;
	overflow: hidden;
}

.imgYoda {
	min-width: 30%;
	min-height: 100%;
	display: flex;
	justify-content: left;
	align-items: flex-end;
	img {
		object-fit: contain;
		max-height: 90%;
		padding-left: 3rem;
	}
}

.headline {
	color: rgba(0, 0, 0, 0.6);
	font-family: Montserrat;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.detail {
	color: #000;
	font-family: Montserrat;
	font-size: 1.625rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.Answers {
	width: 70%;
	overflow: scroll;
	margin-bottom: 0rem;
	.grid-table {
		display: grid;
		grid-template-columns: 5vw 12vw 12vw 12vw;
		grid-template-areas:
			'item1 item1 item1 item1'
			'header1 header2 header3 header4';
		gap: 5px;
		margin-right: 1.5rem;
		row-gap: 0.75rem;
		column-gap: 2rem;
		overflow: visible;
	}
}
.item1 {
	grid-area: item1;
	text-align: left;
}
.header1 {
	grid-area: header1;
}
.header2 {
	grid-area: header2;
}
.header3 {
	grid-area: header3;
}
.header4 {
	grid-area: header4;
}

.imgcorrect {
	display: block;
	object-fit: contain;
	box-shadow: 4px 4px 20px 0px rgba(255, 0, 0, 0.9), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
	height: 100%;
	width: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.divcell {
	font-family: Montserrat;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	height: 5.375rem;
	overflow: visible;
	text-align: left;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}
